<p>Dashboard</p>

<div class="dashboard">

	<div ng-controller="HelloJsonController">
		<p>The ID is {{greeting.id}}</p>
		<p>The content is {{greeting.content}}</p>
	</div>
	
    <div ng-controller="HeaderController">      	                       	
        <ul>
        	<li ng-class="{ active: isActive('/dashboard/view1')}"><a href="#/dashboard/view1">View 1</a></li>
            <li ng-class="{ active: isActive('/dashboard/view2')}"><a href="#/dashboard/view2">View 2</a></li>                        
        </ul>        
    </div>
</div>
    